:root {
  --primary-color: #fff;
  --secondary-color: #111;
  --background-color: #14120b;
  --grey: grey;
  font-family: "CursorGothic", "CursorGothic Fallback", system-ui,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --footer-color: #1b1913;
  --card-color:#1b1913;
  --link-color:#f54e00;
  --sub-heading-color:#898989;
  --frontier-heading-color:#ebe1e1;
  --recent-highlight-color:#edecec
}
* {
 
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
   background-color: var(--background-color);
  color: var(--primary-color);
}

img{
  background-color: transparent; 
}

a{
  text-decoration: none;
}

.section-link{
  color: var(--link-color);
}
header {
  position: relative;
  position: fixed;
  width: 100%;
  background-color: var(--background-color);
}

.conatiner {
  width: 100%;
  max-width: 1300px;
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}
#ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding-left: 100px;

}
li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.875rem;
}
.header-btn {
  display: flex;
  gap: 10px;
}

.headerbtn-sign {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.875rem;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--grey);
}
.headerbtn-down {
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 0.875rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.hero {
  margin-top: 12%;
}

#main-div-left {
  max-width: 65ch;
}
#main-div-left p {
  font-weight: 400px; font-size: 1.625rem; margin-bottom: 18px
}
.download-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-inline-start: 0.25em;
  padding: 0.78em 1.35em 0.8em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  line-height: 1;
  display: inline-flex;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
}

.download-icon {
  font-feature-settings: "ss08";
  padding-left: 4px;
  background-color: white;
  color: black;
  font-size: 15px;
}

span {
  width: 20px;
}

.hero-section {
  margin-top: 5%;
  margin-bottom: 5%;
}

  .hero-section-partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8%;
  }
 
  .hero-section-partners p  {
    font-size: 14px; text-align: center; margin-bottom: 25px;
  }
.hero-section-partner-card {
  width: 154px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-color);
  border-radius: 6px;
}
.hero-section-partner-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.hero-section-agents {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: 6px;
  background-color: var(--card-color);
  margin-bottom: 8%;

}

.hero-section-agents.reverse {
  flex-direction: row-reverse;
}

.hero-section-agents-content {
  flex: 0 0 30%; 
  background-color: var(--card-color);
}

.hero-section-agents-content h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 1.3;
  color: #d1d1d1;
  letter-spacing: -.005em;
  margin-bottom: 0px;
}

.hero-section-agents-content #sub-heading {
  line-height: 1.1;
  margin-bottom: 12px;
  color: var(--sub-heading-color);
}

.hero-section-agents-content a {
  font-weight: 500;
  text-decoration: none;
}

.hero-section-agents-image {
  flex: 1;
}

.hero-section-agents-image img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.section-link {
  display: inline-flex;
  align-items: center;
  gap: 12px;
}

.section-link .arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 28px; 
  width: 32px; 
  height: 32px;
  line-height: 1;
  margin-top: -10px;
  color: var(--link-color);
  margin-left: -8px;
}

.cards-saction{
  margin-top:10%;
 

}
.cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5%;
  gap:10px 2px;
}
.cards {
  display: flex;
  width:100%;
  max-width:425px;
  height:300px;
  background-color: var(--card-color);
  flex-direction: column;
  padding: 22px;
  border-radius: 10px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
}

.card-user {
  display: flex;
  gap: 12px;
  margin-top: auto;
  line-height: 1.5;
}

.card-user img {
  width: 40px;
  height: 40px;
  border-radius: 5%;
  object-fit: cover;
}

.card-user-name {
  font-weight: 600;
}

.card-user-role {
  font-size: 12px;
  color: #888;
}

.frontier-section{
  margin-top: 12%;
}

.frontier-section h2{
  margin-bottom: 20px;
}

.frontier-container{
  background-color: var(--card-color);
  padding:20px;
  width:100%;
  max-width:450px;
  
}
.frontier-card p{
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color:var(--sub-heading-color);
  margin-bottom: 20px;
}

.frontier-card h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color:var(--frontier-heading-color);
}

.changelog-section{
  margin:10% 0px 20px 0px;
}

.changelog-section h3{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.changelog-section p{
  border: 1px solid var(--sub-heading-color);
  width:100%;
  max-width: 50px;
  padding:4px;
  border-radius: 20px;
  text-align: center;
  color: var(--sub-heading-color);
  font-size: 14px;
}
.changelog-heading{
  display: flex;gap:10px;
  margin-bottom: 12px;
  
}
.changelog-container{
 border-radius: 10px;
 display: grid;
 grid-template-columns: repeat(4, minmax(0, 1fr));
 gap: 16px;


}

time{
  font-size: 16px;
  color: var(--sub-heading-color);
}

.changelog-card{
  background-color: var(--card-color);
  padding: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.team-section{
  margin-top:10%;
}

.team-section h1{
  max-width: 800px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 30px;  
}

.team-section .team-btn{
  font-size: 16px;
  border: none;
  background-color: var(--primary-color);
  padding: 10px 20px;
  color:var(--secondary-color);
  border-radius: 20px;
  margin-bottom:5%;  

}

.team-section .arrow{
  height: 40px;
  width: 20px;
  background-color: transparent;
  color: var(--secondary-color);
  margin-top: -2px;
}

.recent-highlights{
  margin-top:8%;
  background-color: var(--card-color);
  display: flex;
  gap:20%;
  padding:5% 10%;
}

.recent-highlights h3{
  color: var(--recent-highlight-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  background-color: inherit;
}

  .recent-highlights p{
    color:var(--sub-heading-color);
    font-size: 16px;
    line-height: 1.5;
  }

  .hightlight-card{
    max-width: 550px;
    border: 1px solid rgb(49 42 42);
    background-color: inherit;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .highlight-subHeading{
    margin-top:20px;
    
  }
  .highlight-subHeading span{
    color: var(--sub-heading-color);
  }

  .try-cursor-container{
    text-align: center;
    margin-top:10%;
  }

   .try-cursor-container h1{
    font-size: 72px;
    font-weight: 400;
    margin-bottom: 20px;
   }
   
 .footer {
  padding: 40px;
  background-color: var(--footer-color);
  /* color: var(--primary-color); */
  margin-top:10%;
}

.footer-container {
  display: flex;
  /* justify-content: space-between; */
  gap:15%;
  padding: 20px 60px;
}

.footer-column h3 {
  margin-bottom: 12px;
  color: var(--sub-heading-color);
  font-size: 14px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 8px;
}

.footer-column a {
  color: var(--primary-color);
  text-decoration: none;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:55px;
}

.copyright-left span {
  margin-right: 12px;
  color:var(--sub-heading-color);
  font-size: 14px;
}

.copyright-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

select{
 background-color: rgb(57, 55, 55);
    color: var(--primary-color);
    border: none;


}
.copyright-btns{
    background-color: rgb(57, 55, 55);
     border-radius: 15px;
     padding:2px 15px;
     display: flex;
     gap:10px;
}
.language-select {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: rgb(57, 55, 55);
        padding:3px 15px;
    border-radius: 15px;
}

button {
  background: none;
  border: none;
  color: var(--sub-heading-color);
  cursor: pointer;
  font-size: 20px;
}



